<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title> <%= title %> </title>
</head>
<body>
    <header>
        <nav class="cyan lighten-3">
            <div class="container">
                <a href="/recipes" class="brand-logo">FoodHub</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <% if (user) { %>
                        <li><a href="/recipes/new">Add Recipe</a></li>
                        <li><a href="/users/<%= user._id %>">Your Profile</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    <% } else { %>
                        <li><a href="/auth/google">Login with Google</a></li>
                    <% } %> 
                </ul>
            </div>
        </nav>
    </header>
    <ul class="sidenav" id="mobile-links">
        <% if (user) { %>
            <li><a href="/recipes/new">Add Recipe</a></li>
            <li><a href="/users/<%= user._id %>">Your Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% } else { %>
            <a href="/auth/google">Login with Google</a></li>
        <% } %>
    </ul>
    <div class="container">