<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title> <%= title %> </title>
</head>
<body>
    <nav>
        <a href="">LOGO HERE</a>
        <ul>
            <% if (user) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login with Google</a>
            <% } %> 
        </ul>
    </nav>
    <h1> <%= title %> </h1>