<%- include('../partials/header') %> 

<% if (recipes.length) { %>
    <% recipes.forEach(recipe => { %>
        <h3><%= recipe._id%> </h3>
        <a href="/recipes/<%= recipe._id %>">More</a>
    <% }) %> 
<% } else { %>
    <h3>No Recipes Yet</h3>
<% }; %>

<%- include('../partials/footer') %> 