<%- include('../partials/header') %> 

<% if (recipes.length) { %>
    <% recipes.forEach(recipe => { %>
        <h4><%= recipe.name%> </h4>
        <a href="/recipes/<%= recipe._id %>">More</a>
    <% }) %> 
<% } else { %>
    <h3>No Recipes Yet</h3>
<% }; %>

<%- include('../partials/footer') %> 