<%- include('../partials/header') %> 

<div>
    <form action="/recipes" method="POST">
        <label>Name of Recipe:</label>
        <input type="text" name="name" required>
        <label>YouTube Link:</label>
        <input type="text" name="youTubeLink" required>
        <label>Directions:</label>
        <textarea name="directions" required></textarea>
        <label>Ingredients:</label>
        <textarea name="ingredients" required></textarea>
        <input type="submit" value="Add Recipe">
    </form>
</div>

<%- include('../partials/footer') %> 